@using MyWebSite.Models.Siniflar
@model List<İkonlar>


<div class="social-icons">
    @foreach (var x in Model)
     {
        <a href="@x.Link"><i style="color:@x.Renk;" class="@x.İkon"></i></a>
     }
    
    @*<a href="#" class="fb"><i class="fab fa-facebook-f"></i></a>
    <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
    <a href="#" class="insta"><i class="fab fa-instagram"></i></a>
    <a href="#" class="yt"><i class="fab fa-youtube"></i></a>*@
</div>
