
@using MyWebSite.Models.Siniflar
@model List<AnaSayfa>
@{
    Layout = null;
}

<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neumorphism Profile Card | CodingNepal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="~/KisiselWebSite/style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="~/KisiselWebSite/like.js"></script>

</head>
<body>
    <div class="wrapper">
        <div class="img-area">
            <div class="inner-area">
                @foreach (var x in Model)
                {
                    <img src="@x.Profil">
                }

            </div>
        </div>
        <div class="icon arrow"><i class="fas fa-arrow-left"></i></div>
        <div class="icon dots"><i class="fas fa-ellipsis-v"></i></div>
        @foreach (var x in Model)
        {
            <div class="name">@x.İsim</div>
            <div class="about">@x.Unvan</div>
        }

        @Html.Action("ikonlar","AnaSayfa")
        
        <div class="buttons">
            <button>Message</button>
            <button>Subscribe</button>
        </div>
        <div class="social-share">
            <!-- <div class="row">
          <i class="far fa-heart"></i>
          <i class="icon-2 fas fa-heart"></i>
          <span>20.4k</span>
        </div> -->
            <div class="row">
                <i class="far fa-heart" id="like-icon" onclick="toggleLike()"></i>
                <span id="like-count"></span>
            </div>
            <div class="row">
                <i class="far fa-comment"></i>
                <i class="icon-2 fas fa-comment"></i>
                <span>14.3k</span>
            </div>
            <div class="row">
                <i class="fas fa-share"></i>
                <span>12.8k</span>
            </div>
        </div>
    </div>

</body>
</html>
